body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8vw;
  background-color: #1e2024;
  color: hsl(217, 37%, 89%);
}

.playerHand {
  padding: 0.4rem;
  background-color: #111114;
  text-align: center;
  margin: 2rem;
}

.cards {
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
  padding: 0.4rem;
}

img {
  width: 100%;
}

.lobbyItem {
  color: #d8e0ed;
  background-color: #111114;
  margin: 8px;
  margin-left: 20px;
  display: grid;
  width: 70%;
  grid-template-columns: 5fr 2fr 1fr;
  text-align: center;
}

.modal-form {
  --bs-modal-bg: #1e2024;
  color: #d8e0ed;
  text-align: center;
}

input {
  margin: 0;
  font-size: 1.8vw;
  background-color: #383c42;
  color: #d8e0ed
}

button {
  font-size: 1.8vw;
  background-color: #2b2e33;
  color: #d8e0ed;
  margin: 1vw;
}

button:hover {
  background-color: #383c42
}

.modal-form li {
  list-style-type: none;
  display: grid;
  grid-template-columns: 5fr 8fr 1fr;
  column-gap: 5px;
}

.modal-form li span {
  display: grid;
  grid-template-columns: 9fr 1fr;
  padding: 0.5vw
}

.profile {
  display: flex;
  color: #d8e0ed;
  justify-content: end;
  padding: 1vw;
  position: absolute;
  right: 0;
}

.profile h3 {
  padding: 1vw;
}

.errorHandler {
  margin: 5px;
  align-items: center;
}

.errorHandler .message {
  background-color: #570f0d;
  color: #fcd5d4;
}

li div {
  justify-self: end;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}